<form class="dashboard-container">
  <label>
    <app-currency-exchange-title></app-currency-exchange-title>
  </label>
  <div>
    <div class="inputContainer">
      <app-currency-input  amountKey="amount_1" [amountValue]="amount_1"></app-currency-input>
      <app-custom-autocomplete currencyKey="currency_1"></app-custom-autocomplete>

    </div>
    <div class="inputContainer">
      <app-currency-input amountKey="amount_2" [amountValue]="amount_2"></app-currency-input>
      <app-custom-autocomplete currencyKey="currency_2"></app-custom-autocomplete>
    </div>
  </div>
</form>
