
:root {
  --black-main-color: #171717;
  --grey-main-color: #252525;
  --light-grey-color: #818181;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Ubuntu Mono', monospace; background-color: var(--grey-main-color); color: white }

